@page
@model InventoryManagement.Pages.Delete_Purchase_Invoice.IndexModel
@{
}

@if (string.IsNullOrEmpty(Model.ErrorMessage))
{
    <h2 style="padding: 1rem 0">Are you sure about deleting Purchase Invoice @Model.PurchaseInvoiceId?</h2>

    <form method="POST">
        <table>
            <tr>
                <th>Product Name</th>
                <th>Manufacturer</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Unit of Measurement</th>
            </tr>
            @foreach (var g in Model.Document.Goods)
            {
                <tr>
                    <td>@g.Name</td>
                    <td>@g.Manufacturer</td>
                    <td>@g.Price</td>
                    <td>@g.Quantity</td>
                    <td>@g.UnitOfMeasurement</td>
                </tr>
            }
        </table>

        <div class="action-button-wrapper">
            <input type="submit" value="Confirm and Delete" class="action-button dangerous" />
            <a href="/purchase-invoice" class="action-button">
                Cancel
            </a>
        </div>
    </form>
} else
{
    <div style="text-align: center; margin-top: 5rem">
        <h3 style="color: red">@Model.ErrorMessage</h3>
        <a href="/purchase-invoice" class="action-button">
            Back to all purchase invoices
        </a>
    </div>
}


@section Styling{
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:first-child, tr:first-child:hover {
            background-color: deepskyblue;
            color: white;
        }

        tr:hover {
            background-color: #dddddd;
        }

        .create-sale-receipt {
            background-color: forestgreen;
        }

        .inputField.new {
            font-size: 1.5rem;
            background-color: forestgreen;
            color: white;
            font-weight: bold;
            border-radius: 8px;
            padding-left: 1rem;
            width: 60%;
            display: flex;
            justify-content: space-between;
        }

            .inputField.new > input {
                width: 60%;
                padding-left: 1rem;
                line-height: 1.5rem;
                font-weight: bold;
                border-radius: 8px;
            }

        .info-text {
            margin: 2rem 0;
            color: red;
            font-weight: bold;
        }

        .action-button-wrapper {
            margin-top: 2rem;
            display: flex;
            justify-content: space-around;
            width: 100%;
        }

        .action-button {
            text-decoration: none;
            display: inline-block;
            line-height: 1.5rem;
            background-color: deepskyblue;
            color: white;
            text-align: center;
            border-radius: 4px;
            font-weight: bold;
            padding: 8px;
            width: 15rem;
        }

        a.action-button {
            text-decoration: none;
            color: white
        }

        .action-button.dangerous {
            background-color: red;
        }

    </style>
}